.sidebar{
    position: fixed;
    width: 300px;
    height: 100vh;
    left: 0;
    background-color: #333;
    color: white;
    overflow: auto;
}

.sidebar .logo{
    line-height: 65px;
    text-align: center;
    background-color: black;
}

.sidebar ul{
    background-color: #333;
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 0px;
}

.sidebar ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    list-style-type: none;
}  

.sidebar ul li a{
    position: relative;
    color: white;
    display: block;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    border-left: 3px solid transparent;
    padding-left: 20px;
}

.sidebar ul li a:hover{
    background-color: #2b2b2b;
}

.sidebar ul ul{
    position: static;
    display: none;
}

.sidebar ul .show{
    display: block;
    height: 100%;
    background-color: #2b2b2b;
    /* text-align: left; */
}

.sidebar ul ul li{
    line-height: 42px;
    border-bottom: none;
    padding: 10px 0px 10px 0px;
}

.sidebar ul ul li a{
    font-size: 17px;
    color: white;
    padding-left: 20px;
    width: 100%;
}

.sidebar ul li a span{
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    transition: transform 0.1s;
}

.sidebar ul li a span.rotate{
    transform: translateY(-50%) rotate(180deg);
}
  
