<div class="container-fluid" style="padding-left: 0px;">
    <nav class="sidebar">
        <div class="logo">
            <img src="https://bo.loyalty.demo.alpabit.com/api/settings/photo/logo" width="250px" height="90px" style="display: inline-block;">
        </div>
        <ul>
            <li>
                <a class="home" (click)="showDropdown($event)"><i class="fa fa-home" aria-hidden="true"></i> &nbsp; Home
                    <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : home}">
                    <li>
                        <a (click)="selectedNav('Dashboard')">Dashboard</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="custtrack" (click)="showDropdown($event)"><i class="fa fa-users" aria-hidden="true"></i> &nbsp; Customer Tracking
                    <span [ngClass]="{'rotate' : ct}"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : ct}">
                    <li>
                        <a (click)="selectedNav('All Customer')">All Customers</a>
                    </li>
                    <li>
                        <a>Search Customer</a>
                    </li>
                    <li>
                        <a>Redemption List</a>
                    </li>
                    <li>
                        <a>Points Transfer</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="marcop" (click)="showDropdown($event)"><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; Marcom Operational
                    <span [ngClass]="{'rotate' : mo}"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : mo}">
                    <li>
                        <a>Report Customer Join</a>
                    </li>
                    <li>
                        <a>Settlement</a>
                    </li>
                    <li>
                        <a>Payment</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="inputfiles" (click)="showDropdown($event)"><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; Input files
                    <span [ngClass]="{'rotate' : inf}"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : inf}">
                    <li>
                        <a>Bonus Files</a>
                    </li>
                    <li>
                        <a>Manual Redeem</a>
                    </li>
                    <li>
                        <a>Feed files</a>
                    </li>
                    <li>
                        <a>Feed Log</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="reportgl" (click)="showDropdown($event)"><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; Report GL
                    <span [ngClass]="{'rotate' : rgl}"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : rgl}">
                    <li>
                        <a>Report Detail</a>
                    </li>
                    <li>
                        <a>Report Summary</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="master" (click)="showDropdown($event)"><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; Master
                    <span [ngClass]="{'rotate' : master}"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : master}">
                    <li>
                        <a>Office</a>
                    </li>
                    <li>
                        <a>Product</a>
                    </li>
                    <li>
                        <a>Channel</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="merchantbo" (click)="showDropdown($event)"><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; Merchant BO
                    <span [ngClass]="{'rotate' : mbo}"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : mbo}">
                    <li>
                        <a>Merchant BO</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="earnrul" (click)="showDropdown($event)"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp; Earning rules
                    <span [ngClass]="{'rotate' : er}"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : er}">
                    <li>
                        <a>All earning rules</a>
                    </li>
                    <li>
                        <a>Add earning rule</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="levels" (click)="showDropdown($event)"><i class="fa fa-trophy" aria-hidden="true"></i> &nbsp; Levels
                    <span [ngClass]="{'rotate' : levels}"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : levels}">
                    <li>
                        <a>All levels</a>
                    </li>
                    <li>
                        <a>Add level</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="segments" (click)="showDropdown($event)"><i class="fa fa-tags" aria-hidden="true"></i> &nbsp; Segments
                    <span [ngClass]="{'rotate' : segments}"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : segments}">
                    <li>
                        <a>All segments</a>
                    </li>
                    <li>
                        <a>Add segment</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="rewcamp" (click)="showDropdown($event)"><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; Reward campaigns
                    <span [ngClass]="{'rotate' : rc}"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </a>
                <ul [ngClass]="{'show' : rc}">
                    <li>
                        <a>All reward campaigns</a>
                    </li>
                    <li>
                        <a>Add reward campaign</a>
                    </li>
                    <li>
                        <a>Redeemed rewards</a>
                    </li>
                    <li>
                        <a>All campaign categories</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-12" style="padding-right:0px;">
            <app-top-nav></app-top-nav>
        </div>
    </div>
    
    <div class="row" style="background-color: whitesmoke; height: 100vh; padding-right:0px; padding-left: 325px; padding-top: 20px;">
        <div class="col">
            <div *ngIf="name_side === 'Dashboard'">
                <app-dashboard></app-dashboard>
            </div>
            <div *ngIf="name_side === 'All Customer'">
                <app-list-customer></app-list-customer>
            </div>
        </div>
    </div>
</div>
