
<div class="container-fluid text-center" style="margin-top: 10%; margin-bottom: 10%;" style="background-color: black; height: 100vh;">
    <img src="https://bo.loyalty.demo.alpabit.com/api/settings/photo/logo" width="340px" height="125px" style="margin-top: 8%;">
    <div class="login_box box_white_block">
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div class="box_body" style="margin-right: 20px; margin-left: 20px;">
                <div class="titlebar lg">
                    <div class="mb-4 fs-5 fw-bold ml-5">Login to your Account</div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="username"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" formControlName="username" placeholder="Username" aria-label="Username" aria-describedby="username">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="password"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" aria-label="Username" aria-describedby="password">
                </div>  
            </div>

            <div class="box_footer clearfix text-center d-grid gap-2" style="margin-right: 20px; margin-left: 20px;">
                <button class="btn btn-lg " style="background-color: #bb343b; color: white; font-size: large;" type="submit" [disabled]="!formLogin.valid">SIGN IN</button>
            </div>
        </form>
    </div>
</div>
