.login_page , .center_page{padding:3% 0;}
.login_box , .center_box{max-width:340px; margin:0 auto; }

.greyBG{background-color:#fafafa;}



.box_white_block{background: #fff;  box-shadow: 0 1px 3px rgba(0,0,0,.2);border-radius:2px; margin-bottom:15px;}
.box_white_block .box_footer{border-top: 1px solid #f4f4f4; }
.box_white_block .box_header{border-bottom: 1px solid #f4f4f4; }
.box_white_block .box_body , 
.box_white_block .box_footer, 
.box_white_block .box_header{padding: 15px;}
.box_white_block .box_tab{background-color:#eee; padding-top:3px;}

.box_white_block{background: #fff;  box-shadow: 0 1px 3px rgba(0,0,0,.2);border-radius:2px; margin-bottom:15px;}
.box_white_block .box_footer{border-top: 1px solid #f4f4f4; }
.box_white_block .box_header{border-bottom: 1px solid #f4f4f4; }
.box_white_block .box_body , .box_white_block .box_footer, .box_white_block .box_header{padding: 15px;}

.clearfix:after { content: " ";  visibility: hidden; display: block; height: 0; clear: both;}

.btn{display:inline-block; line-height:30px; padding:0 20px; font-size:.8rem;}
.btn.red{background-color:#315e8b; color:#fff;} .btn.red:hover{background-color:#28517b;}


.titlebar.lg .title{font-size:1.8rem; }

@media only screen and (max-width : 768px) {
    .login_page , .center_page{padding:1% 0;}
    .login_box , .center_box{width:100%;}
}