nav{
  background-color: white;
}

nav ul{
  float: right;
  display: flex;
}

nav ul li{
  text-align: center;
  list-style-type: none;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

nav ul li a{
  text-decoration: none;
  color: #2b2b2b;
  padding: 15px;
}

nav ul li a:hover{
  background-color: #e4e4e4;
  padding: 15px;
}