<nav>
     <ul>
        <li>
            <div class="dropdown">
                <a href="#" role="button" id="Dropdown_Account" data-bs-toggle="dropdown" aria-expanded="false">Account &nbsp; <i class="fa fa-user-circle" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="Dropdown_Account">
                    <a class="dropdown-item" href="#">Edit your account</a>
                    <a class="dropdown-item" href="#">Guide</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="#"><i class="fa fa-lock" aria-hidden="true"></i> Logout</a>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <a href="" role="button" id="Dropdown_Setting" data-bs-toggle="dropdown" aria-expanded="false">Setting &nbsp; <i class="fa fa-cogs" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="Dropdown_Setting">
                    <a class="dropdown-item" href="#">Configuration</a>
                    <a class="dropdown-item" href="#">Users</a>
                    <a class="dropdown-item" href="#">ACL</a>
                    <a class="dropdown-item" href="#">Translations</a>
                    <a class="dropdown-item" href="#">Emails</a>
                    <a class="dropdown-item" href="#">System logs</a>
                </div>
            </div>
        </li>
     </ul>
</nav>