<h2 style="font-weight: 700;">Dashboard</h2>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col" style="font-size: 24px;">
                        Customers
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col" style="font-size: 32px; font-weight: 700;">
                        3
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col" style="font-size: 24px;">
                        Point Spents
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col" style="font-size: 32px; font-weight: 700;">
                        468,013
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    