/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(/src/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
}